services:
{% if config.database %}
  db:
{% if config.database == 'postgresql' %}
    image: postgres:latest
    container_name: {{config.app_name}}_db
    environment:
      POSTGRES_USER: postgres_user
      POSTGRES_PASSWORD: postgres_password
      POSTGRES_DB: {{config.app_name}}_db
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - {{config.app_name}}db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres_user -d {{config.app_name}}_db"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 4G
    command:
      - "postgres"
      - "-c"
      - "max_connections=50"
      - "-c"
      - "shared_buffers=1GB"
      - "-c"
      - "effective_cache_size=4GB"
      - "-c"
      - "work_mem=16MB"
      - "-c"
      - "maintenance_work_mem=512MB"
      - "-c"
      - "random_page_cost=1.1"
      - "-c"
      - "temp_file_limit=10GB"
      - "-c"
      - "log_min_duration_statement=200ms"
      - "-c"
      - "idle_in_transaction_session_timeout=10s"
      - "-c"
      - "lock_timeout=1s"
      - "-c"
      - "statement_timeout=60s"
      - "-c"
      - "shared_preload_libraries=pg_stat_statements"
      - "-c"
      - "pg_stat_statements.max=10000"
      - "-c"
      - "pg_stat_statements.track=all"
{% endif %}
{% if config.database == 'mysql' %}
    image: mysql:latest
    container_name: {{config.app_name}}_db
    environment:
      MYSQL_ROOT_PASSWORD: mysql_password
      MYSQL_DATABASE: {{config.app_name}}_db
      MYSQL_USER: mysql_user
      MYSQL_PASSWORD: mysql_password
    volumes:
      - {{config.app_name}}db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 4G
{% endif %}
{% endif %}
  app:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    container_name: {{config.app_name}}_app
    env_file:
      -./.env
{% if config.framework == 'django' %}
      command:sh - c "
      {% if config.collect_static %}
        python manage.py collectstatic --noinput&&
      {% endif }
        python manage.py migrate --noinput
      "
{% endif %}
    volumes:
      .:/app/{{app_name}}
      ./logs:/app/logs
    ports:
{% if config.framework == 'flask' %}
      - "5000:5000"
{% else %}
      - "8000:8000"
{% endif %}
    depends_on:
{% if config.database %}
      - db
{% endif %}
{% if config.use_redis %}
      - redis
  redis:
    image: redis:7-alpine
    container_name: {{config.app_name}}_redis
    ports:
      - 6380:6380
{% endif %}
{% if config.use_celery %}
  celery_worker:
    build: .
    container_name: {{config.app_name}}_celery
    command: bash -c "cd src && celery -A {{config.app_name}} worker --loglevel=info"
    volumes:
      - .:/app/{{config.app_name}}
      - ./logs:/app/logs
    env_file:
      - ./.env
    depends_on:
      - app
      - redis
  celery-beat:
    build: .
    container_name: {{config.app_name}}celery-beat
    command: bash -c "cd src && celery -A {{config.app_name}} beat"
    volumes:
      - .:/app/{{config.app_name}}
      - ./logs:/app/logs
    env_file:
      - ./.env
    depends_on:
      - app
      - redis
{% endif %}
  nginx:
    restart: always
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: {{config.app_name}}nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/:/etc/nginx/conf.d/:ro
{% if config.use_certbot %}
      - ./certbot/conf/:/etc/letsencrypt/:rw
      - ./certbot/www/:/var/www/certbot:rw
{% endif %}
    depends_on:
      - app
{% if config.use_certbot %}
  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/www/:/var/www/certbot:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw
    command: certonly --webroot --webroot-path=/var/www/certbot --register-unsafely-without-email --agree-tos --no-eff-email --non-interactive -d domain_name
    depends_on:
      - nginx
{% endif %}